
<div class="container">
    <mat-card>
        <mat-card-title>XML Parser</mat-card-title>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>XML URL</mat-label>
          <input matInput placeholder="Enter Url Here" value="" [(ngModel)]="searchText" name="search">
        </mat-form-field>
        <p>Example URL : https://www.dailymail.co.uk/health/index.rss</p>
        <button mat-raised-button color="primary" (click)="onSearch()">
            <mat-icon inline=true>search</mat-icon>
            Search
        </button>
        </form>
       
    </mat-card>

    <mat-spinner [diameter]="50" *ngIf="showSpinner"></mat-spinner>
    
<div class="container" *ngIf="dataSource.data.length">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.image}}" alt="" srcset="" class="itemImage">
                  </td>
      
          </ng-container>

        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title </th>Title
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Link">
          <th mat-header-cell *matHeaderCellDef> Link </th>
          <td mat-cell *matCellDef="let element">
              <a href="{{element.link}}">link</a>
                </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
</div>

