.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.container{
    margin: 2rem 1rem 1rem 2rem;
}

.mat-table{
    width: 100%;
}

.mat-column-Image{
    width: 10% !important;
}

.mat-column-Title{
    width: 20% !important;
}

.mat-column-Description{
    width: 50% !important;
}

.mat-column-Link{
    width: 5% !important
}

mat-spinner{
    margin:0 auto;
    margin-top: 3rem;
}



.itemImage{
    width: 6rem;
}